@font-face {
    font-family: "Oswald";
    src:
        url("../fonts/oswaldregular.woff2") format("woff2"),
        url("../fonts/oswaldregular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src:
        url("../fonts/oswaldmedium.woff2") format("woff2"),
        url("../fonts/oswaldmedium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    font-family: "Arial", sans-serif;
    color: #444444;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.title {
    margin: 0;
    font-weight: normal;
    font-family: $oswald;
    color: #000000;
}

.btn {
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: $green-color;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}
/*!!!!!ЭТО НЕ ТОЧНО ПОТОМ ПРОВЕРИТЬ!!!!!*/
@media #{$tablet-width} {
    body {
        font-size: 16px;
        line-height: 24px;
    }

    .title {
        color: #111111;
    }

    .btn {
        font-size: 20px;
        line-height: 20px;
    }
}
