@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #444444;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.title {
  margin: 0;
  font-weight: normal;
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
}

.btn {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}

.page__header,
.page__main,
.page__footer {
  min-width: 320px;
  margin: 0 auto;
}

.header__logo {
  display: block;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.header__logo-img {
  width: 191px;
  height: 38px;
}

.header__main-nav {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--closed .main-nav__toggle::after, .main-nav--closed .main-nav__toggle::before {
  top: 6px;
  left: 3px;
  transform: rotate(0);
}

.main-nav--closed .main-nav__toggle::after {
  top: 14px;
  box-shadow: 0 8px 0 0 #222222;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}

.main-nav__link {
  display: block;
  padding-top: 19px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__toggle {
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: -49px;
  right: 17px;
  width: 30px;
  height: 30px;
  font-size: 0;
  cursor: pointer;
}

.main-nav__toggle::before, .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: #222222;
  transform: translate(-50%, -50%) rotate(45deg);
}

.main-nav__toggle::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.main__header {
  position: relative;
  margin-bottom: 22px;
  font-family: "Oswald", "Arial", sans-serif;
}

.main__bg {
  padding-top: 27px;
  height: 278px;
  background-color: #68b738;
  background-image: url("../img/index-background-mobile@1x.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main__title {
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

.main__slogan {
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.main__product {
  position: absolute;
  bottom: 40px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.main__product-img {
  width: 280px;
  height: 271px;
}

.main__btn {
  width: 280px;
  margin-top: 135px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 11px;
  padding-right: 70px;
  padding-bottom: 11px;
  padding-left: 70px;
}

.main__catigories {
  margin-bottom: 17px;
}

.main__how-it-work {
  margin-bottom: 42px;
}

.main__examples {
  padding-top: 17px;
  padding-bottom: 36px;
  background-color: #f2f2f2;
}

.catigories__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.catigories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catigories__item {
  margin-bottom: 20px;
  padding-top: 33px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.catigories__item:last-child {
  margin-bottom: 0;
}

.catigories__title {
  position: relative;
  margin-bottom: 32px;
  padding-left: 71px;
  font-size: 24px;
  line-height: 1.3;
  text-transform: uppercase;
}

.catigories__title::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 2px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}

.catigories__title--slim::after {
  content: "";
  position: absolute;
  top: -11px;
  left: 10px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.catigories__title--pro::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -7px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

.catigories__desc {
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.catigories__link {
  position: relative;
  display: block;
  width: 100px;
  padding-top: 17px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 1.3;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}

.catigories__link--arrow::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 6px;
  width: 17px;
  height: 3px;
  background-color: #3e4242;
}

.catigories__link--arrow::after {
  content: "";
  position: absolute;
  top: 22px;
  right: -4px;
  height: 1px;
  border: 5px solid transparent;
  border-left-color: #3e4242;
}

.how-it-work__wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.how-it-work__title {
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 60px;
}

.how-it-work__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.how-it-work__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
}

.how-it-work__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}

.how-it-work__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
}

.how-it-work__item:last-child {
  margin-bottom: 0;
}

.how-it-work__item--leaf::after {
  background-image: url("../img/advantage-leaf@1x.png");
}

.how-it-work__item--powder::after {
  background-image: url("../img/advantage-powder@1x.png");
}

.how-it-work__item--dining::after {
  background-image: url("../img/advantage-dining@1x.png");
}

.how-it-work__item--clock::after {
  background-image: url("../img/advantage-clock@1x.png");
}

.how-it-work__one,
.how-it-work__two,
.how-it-work__three,
.how-it-work__four {
  display: none;
}

.examples__wrapper {
  margin-bottom: 33px;
  padding-right: 20px;
  padding-left: 20px;
}

.examples__title {
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
}

.examples__desc {
  margin: 0;
  margin-bottom: 25px;
}

.examples__table {
  width: 280px;
  margin: 0 auto;
  border-collapse: collapse;
}

.examples__table tbody {
  display: flex;
  flex-wrap: wrap;
}

.examples__table tr {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 124px;
  margin-left: auto;
}

.examples__table tr:first-of-type {
  margin-left: 0;
}

.examples__table tr:nth-of-type(1) {
  width: 50%;
}

.examples__table tr:nth-of-type(2) {
  width: 50%;
}

.examples__table tr:nth-of-type(3) {
  width: 100%;
  max-width: none;
  margin-top: 33px;
  margin-left: 0;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.examples__info {
  display: flex;
  position: absolute;
  bottom: -16px;
  left: 50%;
  width: 82px;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  background-color: #f2f2f2;
  transform: translateX(-50%);
}

.examples__weight,
.examples__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 52px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-size: 24px;
  line-height: 1.3;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
}

.examples__slide-img {
  display: none;
  width: 320px;
  height: 240px;
  margin: 0 auto;
}

.examples__slide-img--show {
  display: block;
}

.examples__slider {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
}

.examples__slider-checkbox {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 6px;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 5px;
  border: 1px solid #cdcdcd;
  border-radius: 25px;
  background-color: #ffffff;
  cursor: pointer;
}

.examples__slider-checkbox::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 25px;
  transform: translateX(-35px);
  transition-property: transform;
  transition-duration: 0.5s;
}

.examples__slider-checkbox--checked::before {
  transform: translateX(0);
}

.contacts__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 20px;
}

.contacts__invite {
  width: 140px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.contacts__map {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}

.contacts__map::before {
  content: "";
  position: absolute;
  bottom: 170px;
  width: 124px;
  height: 106px;
  background-image: url("../img/map-pin.webp");
}

.contacts__map-img {
  width: 320px;
  height: 400px;
}

.footer__wrapper {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 94px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.footer__logo-img {
  width: 128px;
  height: 24px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 125px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 21px;
}

.footer__copyright {
  margin: 0;
  padding-top: 17px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1.3;
  color: #444444;
  text-decoration: none;
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link {
  font-size: 0;
}

.social__link--vk {
  width: 22px;
  height: 12px;
  background-image: url("../img/icon-vk.svg");
}

.social__link--inst {
  width: 16px;
  height: 16px;
  background-image: url("../img/icon-insta.svg");
}

.social__link--fb {
  width: 10px;
  height: 19px;
  background-image: url("../img/icon-fb.svg");
}
