.contacts__wrapper {
    display: flex;
    justify-content: center;
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 26px;
    padding-left: 20px;
}

.contacts__invite {
    width: 140px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-family: $oswald;
    color: #111111;
    text-transform: uppercase;
}

.contacts__address {
    width: 140px;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

.contacts__map {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;

    &::before {
        content: "";
        position: absolute;
        bottom: 170px;
        width: 124px;
        height: 106px;
        background-image: url("../img/map-pin.webp");
    }
}

.contacts__map-img {
    display: block;
    width: 320px;
    height: 400px;
}

@media #{$tablet-width} {
    .contacts__wrapper {
        justify-content: space-between;
        width: 625px;
        margin: 0 auto;
        padding-top: 65px;
        padding-right: 30px;
        padding-bottom: 61px;
        padding-left: 30px;
    }

    .contacts__invite {
        width: 200px;
        font-size: 20px;
        line-height: 25px;
    }

    .contacts__address {
        width: 160px;
        font-size: 16px;
        text-align: right;
    }

    .contacts__map-img {
        width: 767px;
        height: 400px;
    }

    .contacts__map {
        &::before {
            bottom: 150px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
