.page__header,
.page__main,
.page__footer {
    min-width: 320px;
    max-width: 320px;
    margin: 0 auto;
}

@media #{$tablet-width} {
    .page__header,
    .page__main,
    .page__footer {
        max-width: 768px;
    }
}

@media #{$desktop-width} {
    .page__header,
    .page__main,
    .page__footer {
        max-width: 1440px;
    }
}